/*
******************************************
VARIABLES
******************************************
*/
:root {
  --body-bg: #112350;
  --main-color: white;
  --primary-color: #526535;
  --semi-transparent: rgba(255, 255, 255, 0.137);
}

/*
******************************************
BODY
******************************************
*/
body {
  background-color: var(--body-bg);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--main-color) !important;
}

/*
******************************************
MENU
******************************************
*/
#basic-menu {
  color: var(--primary-color);
}

/*
******************************************
step 1
******************************************
*/
.grid-8,
.grid-6,
.grid-4 {
  color: var(--main-color) !important;
}

.grid-8 {
  background-color: #496D89 !important;
  height: 120px;
}

.grid-4 {
  background-color: #123652 !important;
  height: 60px;
}

.grid-6 {
  background-color: #042037 !important;
  height: 160px;
}

/*
******************************************
first
******************************************
*/
.container-first-items {
  display: flex;
  justify-content: center;
}

.first-item:hover {
  background-color: #924500 !important;
  color: var(--main-color);
}

/*
******************************************
THEN
******************************************
*/
.box-flex-center {
  margin: 25% auto;
  border-radius: 0 20%;
}

.active-flex-click {
  background-color: red !important;
}

.box-flex-center-btn {
  position: relative;
  top: 50%;
  height: 35px;
  width: 150px;
  font-size: 1em;
  border: none;
  border-radius: 0 20px 20px 0;
  outline: none;
  background-color: var(--body-bg);
  color: white;
  transition: ease-in-out 0.2s;
}
.box-flex-center-btn:hover {
  background-color: var(--body-bg);
  height: 70px;
  width: 190px;
  font-size: 2em;
  border-radius: 0% 20px 0% 0%;
  cursor: pointer;
  transition: ease-in-out 0.1s;
}

/*
******************************************
IMAGES
******************************************
*/
.images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
******************************************
HIDDEN
******************************************
*/
.bonjour-hidden {
  visibility: hidden;
}

.button-transparent {
  margin-top: 25%;
  margin-left: 35%;
}

/*
******************************************
SECRET
******************************************
*/
.flex-center-form {
  display: flex;
  justify-content: center;
}

/*
******************************************
DOOR
******************************************
*/
.door {
  position: relative;
  width: 170px;
  height: 270px;
  margin: 25% 50%;
  transform-style: preserve-3d;
  transform: perspective(2500px);
}

.door-front {
  width: 170px;
  height: 270px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: 30px 0 50px rgba(0, 0, 0, 0.2);
  position: absolute;
  background-color: #924500;
  z-index: 1;
  transition: 0.5s;
}

.door-front:before, .door-front:after {
  content: "";
  position: absolute;
  background-color: #924500;
  width: 105px;
  height: 75px;
  border: 10px ridge #b05500;
  left: 22.5px;
}

.door-front:before {
  top: 25px;
}

.door-front:after {
  top: 155px;
}

.knob {
  position: absolute;
  width: 20px;
  height: 30px;
  background-color: #eeba0b;
  top: 122px;
  left: 145px;
  border-radius: 2px;
}

.knob:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #f1c83c;
  width: 18px;
  height: 18px;
  left: -1px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.knob:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  background-color: #333;
  top: 20px;
  left: 8.5px;
}

.door-back {
  position: relative;
  background: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.door-back .door-link {
  position: relative;
  top: 50%;
  left: 25%;
  color: white;
}

/*
******************************************
FINAL
******************************************
*/
.final-main-container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.final-img {
  width: 250px;
}/*# sourceMappingURL=style.css.map */